{{ template "base" .}}

{{ define "title" }} StreamLight - About {{ end }}

{{ define "content" }}

<header><br><br>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <nav>
                    <ul>
                        <h1>Sobre Mi</h1>
                        <p>Me llamo Matias Orset y soy un desarrollador web.</p>
                        <p>Me encanta programar y aprender cosas nuevas.  <br>
                        Sitio hecha en Go, AdHonorem para todos los streamers <br>
                        que deseen recibir pagos a traves de Web3</p>
                    </ul> <br><br>
                    <ul>
                        <h1>About Me</h1>
                        <p>My name is Matias Orset and I am a web developer.</p>
                        <p>I love programming and learning new things. <br>
                            Site made in Go, AdHonorem for all streamers <br>
                            who wish to receive payments through Web3</p>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>




{{ end }}


